@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Source+Sans+3:wght@200..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Source+Sans+3:wght@200..900&family=Sriracha&display=swap');

:root{
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte1: 'Passion One', cursive;
    --fonte2: 'Sriracha', cursive; 

    --color1: black;
    --color2: white;
    --transparente: rgba(0, 0, 0, 0.508);
}


*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    font-family: var(--font-padrao);
}


header{
    text-align: center;

    background-color: var(--color1);
}
header h1{
    font-family: var(--fonte1);
    font-size: 9vw;
    color: var(--color2);
    font-weight: bold;

    padding-top: 50px;
    margin: auto;
}
header p{
    color: var(--color2);
    font-size: 16px;

    margin-top: 10px;
    padding-bottom: 50px;
    margin: auto;
    
}
header a{
    color: var(--color2);
    text-decoration: none;
    font-weight: bold;

    margin: auto;
}
header a:hover{
    text-decoration: underline;
}


main article{
    width: 100%;
    height: 100%;
    display: inline-block;
}
main div{
    padding-top: 80px;
    padding-bottom: 100px;
    margin-left: 30px;
}
main p{
    font-family: var(--fonte2);
    font-size: 3.5vw;

    padding-top: 5px;
}
main #img1{
    background: var(--color1) url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}
main #img2{
    background: var(--color2) url(imagens/background002.jpg) left center no-repeat fixed; 
    background-size: cover;
}
main .transparente p{
    color: var(--color2);
    text-indent: 5px;

    background-color: var(--transparente);
    
    width: 42.5vw;
}
main .transparente2 p{
    color: var(--color2);
    text-indent: 5px;

    background-color: var(--transparente);
    
    width: 43.5vw;
}


footer{
    color: var(--color2);
    background-color: var(--color1);

    text-align: center;
}
footer p{
    padding-top: 10px;
    padding-bottom: 10px;
}
footer a{
    color: var(--color2);
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}
